<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wyre.trade">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.wyre.trade.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wyre.trade.usdc.PaymentUserListActivity"></activity>
        <activity android:name="com.wyre.trade.coins.StakeHistoryActivity" />
        <activity android:name="com.wyre.trade.stock.stockwithdraw.StockWithdrawHistoryActivity" />
        <activity android:name="com.wyre.trade.usdc.SendUsdcHistoryActivity" />
        <activity android:name="com.wyre.trade.stock.deposit.Coin2StockHistoryActivity" />
        <activity android:name="com.wyre.trade.stock.deposit.Bank2StockHistoryActivity" />
        <activity android:name="com.wyre.trade.coins.CoinWithdrawHistoryActivity" />
        <activity android:name="com.wyre.trade.coins.CoinSwapHistoryActivity" />
        <activity android:name="com.wyre.trade.token.TokenOrderBookActivity" />
        <activity android:name="com.wyre.trade.coins.CoinTradeActivity" />
        <activity android:name="com.wyre.trade.coins.StakeAssetListActivity" />
        <activity android:name="com.wyre.trade.token.TokenTradeHistoryActivity" />
        <activity android:name="com.wyre.trade.zabo.ZaboAccountActivity" />
        <activity android:name="com.wyre.trade.zabo.ZaboActivity">
            <intent-filter android:label="Zaho connect account">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.joiintapp.com"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name="com.wyre.trade.usdc.PaymentUserActivity" />
        <activity
            android:name="com.wyre.trade.main.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wyre.trade.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.wyre.trade.main.SignInActivity"
            android:parentActivityName="com.wyre.trade.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.wyre.trade.main.SignUpActivity"
            android:parentActivityName="com.wyre.trade.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.wyre.trade.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.wyre.trade.stock.stocktrade.StocksTradingActivity" />
        <activity android:name="com.wyre.trade.stock.stocktrade.StockBuyActivity" />
        <activity android:name="com.wyre.trade.stock.stocktrade.StockSellActivity" />
        <activity android:name="com.wyre.trade.stock.stocktrade.StocksOrderActivity" />
        <activity android:name="com.wyre.trade.stock.NewsListActivity" />
        <activity android:name="com.wyre.trade.stock.NewsActivity" />
        <activity
            android:name="com.wyre.trade.coins.TransferFundsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.wyre.trade.stock.stockwithdraw.StockCoinWithdrawActivity" />
        <activity android:name="com.wyre.trade.stock.stocktrade.StockReplaceActivity" />
        <activity android:name="com.wyre.trade.stock.deposit.StockDepositActivity" />
        <activity android:name="com.wyre.trade.coins.CoinWithdrawActivity" />
        <activity android:name="com.wyre.trade.stock.StockNewsActivity" />
        <activity android:name="com.wyre.trade.coins.CoinDepositHistoryActivity" />
        <activity
            android:name="network.ramp.instantsdk.ui.bank.BankActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:theme="@style/RampInstant.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.wyre.trade"
                    android:scheme="rampnetwork" />
            </intent-filter>
        </activity>
        <activity
            android:name="network.ramp.instantsdk.ui.rampinstant.RampInstantActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:launchMode="singleTask"
            android:theme="@style/RampInstant.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.wyre.trade.home.WebViewActivity" />
        <activity android:name="com.wyre.trade.usdc.SendUsdcActivity" />
        <activity android:name="com.wyre.trade.mtn.MtnTransactionActivity" />
        <activity android:name="com.wyre.trade.mtn.MTNActivity" />
        <activity android:name="com.wyre.trade.token.TokenTradingActivity" />
        <activity android:name="com.wyre.trade.coins.StakeActivity" />
        <activity android:name="com.wyre.trade.predict.AddPredictActivity" />
        <activity android:name="com.wyre.trade.predict.PredictableListActivity" />
        <activity android:name="com.wyre.trade.predict.PredictActivity" />
        <activity android:name="com.wyre.trade.profile.ProfileCompleteActivity" />
        <activity android:name="com.wyre.trade.cash.InfoActivity" />
        <activity android:name="com.wyre.trade.cash.AddFriendActivity" />
        <activity android:name="com.wyre.trade.stock.StocksActivity" />
        <activity android:name="com.wyre.trade.cash.AddBankActivity" />
        <activity android:name="com.wyre.trade.profile.ProfileActivity" />
        <activity android:name="com.wyre.trade.cash.CollectCashActivity" />
        <activity android:name="com.wyre.trade.cash.SendCashActivity" />
        <activity android:name="com.wyre.trade.cash.SendTargetActivity" />
        <activity android:name="com.wyre.trade.main.SupportActivity" />
        <activity android:name="com.wyre.trade.main.ChangePasswordActivity" />
        <activity android:name="com.wyre.trade.main.ResetPasswordActivity" />
        <activity android:name="com.wyre.trade.main.ForgotPasswordActivity" />
        <activity android:name="com.wyre.trade.stock.stockorder.StockOrderHistoryActivity" />
        <activity android:name="com.wyre.trade.chat.SocialGroupActivity" />
    </application>

</manifest>